@import "tailwindcss";

@theme {
  --font-sans: "Helvetica Neue", Arial, sans-serif, ui-sans-serif, system-ui;
  
  --color-brand-amber: #F97316;
  --color-brand-sky: #0EA5E9;
  --color-brand-leaf: #22C55E;
  
  --radius-xl: 0.75rem; /* More professional, less "bubbly" */
  --radius-2xl: 1rem;
  --radius-3xl: 1.5rem;
}

@layer base {
  body {
    @apply text-gray-700 bg-[#FEFCE8] font-sans;
  }
}
